<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Nearest Airport App</title>
    <meta name="App to find the nearest airport" content="Nearest Airport App">
    <meta name="Michal Mildner" content="Michal Mildner">

    {% load compile_static %}
    {% load static %}

    <link rel="stylesheet" href="{% static "nearestAirportApp/style/main.less"|compile %}" />

</head>

<body>


<form id="search">{% csrf_token %}
    <input type="text" id="lat">
    <input type="text" id="lon">
    <input type="submit" value="SUBMIT">
</form>

<div id="result">
    <p id = "icao"></p>
    <p id = "name"></p>
</div>

<script src={% static "nearestAirportApp/js/jquery-3.2.1.min.js" %} type="text/javascript"></script>
<script src={% static "nearestAirportApp/js/getData.js" %} type="text/javascript"></script>
</body>
</html>


